
<div class="box">
  <div class="box-inner">
    <h2>アカウント</h2>
    <table>
        <tr>
          <th>ユーザーネーム</th>
          <th><%= @user.username%></th>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>

        </tr>



      </table>
        <div class="link">
          <p>
            <%= link_to "プロフィールを編集する" , "/users/edit" %>
          </p>
          <p>
            <%= link_to "アカウントを編集する" , "/users/edit" %>
          </p>
        </div>


  </div>
</div>
