.box-inner h2 {
  text-align: center;
}

.box-inner td {
  // padding-right: 10px;
  // padding-top: 20px;
  text-align: left;
  max-width: 350px;
}

.link p {
  font-size: 200%;
  text-align: center;
  position: relative;
  line-height: 20px;
  // top:200px;
}

.link p:first-child {
  margin-top: 40px;
}
